In [2]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
pd.set_option("display.max_columns", None)
pd.set_option("display.width", 500)

In [ ]:
# Soru 1: miuul_gezinomi.xlsx dosyasını okutunuz ve veri seti ile ilgili genel bilgileri gösteriniz..
# Soru 2:Kaç unique şehir vardır? Frekansları nedir?
# Soru 3:Kaç unique Concept vardır?
# Soru 4: Hangi Concept’den kaçar tane satış gerçekleşmiş?
# Soru 5: Şehirlere göre satışlardan toplam ne kadar kazanılmış?
# Soru 6: Concept türlerine göre ne kadar kazanılmış?
# Soru 7: Şehirlere göre PRICE ortalamaları nedir?
# Soru 8: Conceptlere göre PRICE ortalamaları nedir?
# Soru 9: Şehir-Concept kırılımında PRICE ortalamalarınedir?

In [3]:
# 1-)
df = pd.read_excel("miuul_gezinomi.xlsx")
df.head()

   SaleId   SaleDate CheckInDate       Price     ConceptName SaleCityName    CInDay  SaleCheckInDayDiff Seasons
0  415122 2022-12-03  2022-12-03   79.304029    Herşey Dahil      Antalya  Saturday                   0     Low
1  415103 2022-12-03  2022-12-03   45.970696  Yarım Pansiyon      Antalya  Saturday                   0     Low
2  404034 2022-09-12  2022-09-13   77.838828    Herşey Dahil      Antalya   Tuesday                   1    High
3  415094 2022-12-03  2022-12-10  222.710623  Yarım Pansiyon        İzmir  Saturday                   7     Low
4  414951 2022-12-01  2022-12-03  140.476190  Yarım Pansiyon        İzmir  Saturday                   2     Low

In [4]:
# 2-)
df["SaleCityName"].nunique()
df["SaleCityName"].value_counts()

Antalya    31649
Muğla      10662
Aydın      10646
Diğer       3245
İzmir       2507
Girne        455
Name: SaleCityName, dtype: int64

In [5]:
# 3-)
df["ConceptName"].nunique()

3

In [6]:
4-)
df["ConceptName"].value_counts()

Herşey Dahil      53186
Yarım Pansiyon     3559
Oda + Kahvaltı     2419
Name: ConceptName, dtype: int64

In [7]:
5-)
df.groupby("SaleCityName").agg({"Price": "sum"})

                     Price
SaleCityName
Antalya       2.041911e+06
Aydın         5.732960e+05
Diğer         1.545723e+05
Girne         2.706503e+04
Muğla         6.658422e+05
İzmir         1.659348e+05

In [9]:
# 6-)
df.groupby("ConceptName").agg({"Price": "sum"})

                       Price
ConceptName
Herşey Dahil    3.332911e+06
Oda + Kahvaltı  1.213084e+05
Yarım Pansiyon  1.744024e+05

In [10]:
# 7-)
df.groupby("SaleCityName").agg({"Price": "mean"})

                  Price
SaleCityName
Antalya       64.521474
Aydın         53.855896
Diğer         47.707497
Girne         59.483579
Muğla         62.461746
İzmir         66.267905

In [11]:
# 8-)
df.groupby("ConceptName").agg({"Price": "mean"})

                    Price
ConceptName
Herşey Dahil    62.672260
Oda + Kahvaltı  50.252010
Yarım Pansiyon  49.030742

In [12]:
# 9-)
df.groupby(["SaleCityName", "ConceptName"]).agg({"Price": "mean"})

                                 Price
SaleCityName ConceptName
Antalya      Herşey Dahil    64.519028
             Oda + Kahvaltı  63.504816
             Yarım Pansiyon  67.190613
Aydın        Herşey Dahil    53.995467
             Oda + Kahvaltı  34.458787
             Yarım Pansiyon  30.016543
Diğer        Herşey Dahil    84.771093
             Oda + Kahvaltı  37.599082
             Yarım Pansiyon  42.113440
Girne        Herşey Dahil    97.680970
             Oda + Kahvaltı  39.775536
             Yarım Pansiyon  53.247838
Muğla        Herşey Dahil    63.020053
             Oda + Kahvaltı  59.037763
             Yarım Pansiyon  45.120924
İzmir        Herşey Dahil    74.701519
             Oda + Kahvaltı  41.320342
             Yarım Pansiyon  59.610053

In [ ]:
# SaleCheckInDayDiff değişkenini EB_score adında yeni bir kategorik değişkene çeviriniz.
# Aralıkları ikna edici şekilde oluşturunuz.
# Örneğin: ‘0_7’, ‘7_30', ‘30_90', ‘90_max’ aralıklarını kullanabilirsiniz.
# Bu aralıklar için "Last Minuters", "Potential Planners", "Planners", "Early Bookers“ isimlerini kullanabilirsiniz.

In [15]:
bins = [-1, 7, 30, 90, df["SaleCheckInDayDiff"].max()]
labels = ["Last Minuters", "Potential Planners", "Planners", "Early Bookers"]

df["EB_score"] = pd.cut(df["SaleCheckInDayDiff"], bins, labels=labels)

df["EB_score"].head(50)

0          Last Minuters
1          Last Minuters
2          Last Minuters
3          Last Minuters
4          Last Minuters
5          Last Minuters
6          Last Minuters
7          Last Minuters
8          Last Minuters
9          Last Minuters
10         Last Minuters
11         Last Minuters
12         Last Minuters
13              Planners
14         Last Minuters
15    Potential Planners
16    Potential Planners
17         Last Minuters
18         Last Minuters
19              Planners
20    Potential Planners
21         Last Minuters
22         Last Minuters
23         Last Minuters
24         Last Minuters
25         Last Minuters
26         Last Minuters
27    Potential Planners
28    Potential Planners
29    Potential Planners
30    Potential Planners
31              Planners
32         Last Minuters
33         Last Minuters
34    Potential Planners
35    Potential Planners
36         Last Minuters
37    Potential Planners
38    Potential Planners
39    Potential Planners
40    Potential Planners
41    Potential Planners
42         Last Minuters
43         Last Minuters
44         Last Minuters
45         Last Minuters
46              Planners
47         Last Minuters
48         Last Minuters
49              Planners
Name: EB_score, dtype: category
Categories (4, object): ['Last Minuters' < 'Potential Planners' < 'Planners' < 'Early Bookers']

In [ ]:
# Şehir-Concept-EB Score, Şehir-Concept- Sezon, Şehir-Concept-CInDay kırılımında ortalama ödenen ücret ve yapılan işlem sayısı cinsinden
inceleyiniz ?

In [19]:
df.groupby(["SaleCityName", "ConceptName", "EB_score"]).agg({"Price":["mean","count"]})

                                                    Price
                                                     mean  count
SaleCityName ConceptName    EB_score
Antalya      Herşey Dahil   Last Minuters       62.752916  14148
                            Potential Planners  64.903700   8874
                            Planners            67.879960   4490
                            Early Bookers       66.494885   3281
             Oda + Kahvaltı Last Minuters       65.353740    503
...                                                   ...    ...
İzmir        Oda + Kahvaltı Early Bookers       66.928111      3
             Yarım Pansiyon Last Minuters       57.788126    636
                            Potential Planners  64.804043    198
                            Planners            60.507887     47
                            Early Bookers       65.905583     14

[72 rows x 2 columns]

In [20]:
df.groupby(["SaleCityName", "ConceptName", "Seasons"]).agg({"Price":["mean", "count"]})

                                          Price
                                           mean  count
SaleCityName ConceptName    Seasons
Antalya      Herşey Dahil   High      64.920065  27126
                            Low       61.552427   3667
             Oda + Kahvaltı High      66.267969    303
                            Low       60.666730    295
             Yarım Pansiyon High      73.259029    118
                            Low       62.001678    138
Aydın        Herşey Dahil   High      54.946560  10103
                            Low       33.680699    473
             Oda + Kahvaltı High      30.387530     27
                            Low       44.451874     11
             Yarım Pansiyon High      32.626152     20
                            Low       25.271799     11
Diğer        Herşey Dahil   High      83.787273    364
                            Low       87.310882    141
             Oda + Kahvaltı High      34.839543    349
                            Low       39.959569    408
             Yarım Pansiyon High      39.731916    516
                            Low       42.953978   1462
Girne        Herşey Dahil   High     103.935448     55
                            Low       90.935944     51
             Oda + Kahvaltı High      39.479630     66
                            Low       40.043067     73
             Yarım Pansiyon High      58.383668    100
                            Low       48.578903    110
Muğla        Herşey Dahil   High      63.384036   9582
                            Low       48.304086    237
             Oda + Kahvaltı High      61.264691    592
                            Low       37.774192     62
             Yarım Pansiyon High      45.823698    177
                            Low       32.681812     10
İzmir        Herşey Dahil   High      74.748363   1234
                            Low       74.308287    147
             Oda + Kahvaltı High      54.141797     86
                            Low       33.555235    142
             Yarım Pansiyon High      87.657303    118
                            Low       55.350626    777

In [21]:
df.groupby(["SaleCityName", "ConceptName", "CInDay"]).agg({"Price": ["mean", "count"]})

                                           Price
                                            mean count
SaleCityName ConceptName    CInDay
Antalya      Herşey Dahil   Friday     62.658940  4136
                            Monday     63.259143  6831
                            Saturday   64.415526  4741
                            Sunday     65.849177  3818
                            Thursday   62.892734  3898
...                                          ...   ...
İzmir        Yarım Pansiyon Saturday   52.504725   315
                            Sunday     98.934697    68
                            Thursday   52.484894    91
                            Tuesday    56.141381    73
                            Wednesday  54.064392    86

[126 rows x 2 columns]

In [ ]:
# City-Concept-Season kırılımının çıktısını PRICE'a göre sıralayınız.
# Elde ettiğiniz çıktıyı agg_df olarak kaydediniz.

In [25]:
agg_df = df.groupby(["SaleCityName", "ConceptName", "Seasons"]).agg\
                    ({"Price":"mean"}).sort_values("Price", ascending=False)
agg_df

                                          Price
SaleCityName ConceptName    Seasons
Girne        Herşey Dahil   High     103.935448
                            Low       90.935944
İzmir        Yarım Pansiyon High      87.657303
Diğer        Herşey Dahil   Low       87.310882
                            High      83.787273
İzmir        Herşey Dahil   High      74.748363
                            Low       74.308287
Antalya      Yarım Pansiyon High      73.259029
             Oda + Kahvaltı High      66.267969
             Herşey Dahil   High      64.920065
Muğla        Herşey Dahil   High      63.384036
Antalya      Yarım Pansiyon Low       62.001678
             Herşey Dahil   Low       61.552427
Muğla        Oda + Kahvaltı High      61.264691
Antalya      Oda + Kahvaltı Low       60.666730
Girne        Yarım Pansiyon High      58.383668
İzmir        Yarım Pansiyon Low       55.350626
Aydın        Herşey Dahil   High      54.946560
İzmir        Oda + Kahvaltı High      54.141797
Girne        Yarım Pansiyon Low       48.578903
Muğla        Herşey Dahil   Low       48.304086
             Yarım Pansiyon High      45.823698
Aydın        Oda + Kahvaltı Low       44.451874
Diğer        Yarım Pansiyon Low       42.953978
Girne        Oda + Kahvaltı Low       40.043067
Diğer        Oda + Kahvaltı Low       39.959569
             Yarım Pansiyon High      39.731916
Girne        Oda + Kahvaltı High      39.479630
Muğla        Oda + Kahvaltı Low       37.774192
Diğer        Oda + Kahvaltı High      34.839543
Aydın        Herşey Dahil   Low       33.680699
İzmir        Oda + Kahvaltı Low       33.555235
Muğla        Yarım Pansiyon Low       32.681812
Aydın        Yarım Pansiyon High      32.626152
             Oda + Kahvaltı High      30.387530
             Yarım Pansiyon Low       25.271799

In [ ]:
# Indekste yer alan isimleri değişken ismine çeviriniz.

In [26]:
agg_df.reset_index(inplace=True)

agg_df.head(10)

  SaleCityName     ConceptName Seasons       Price
0        Girne    Herşey Dahil    High  103.935448
1        Girne    Herşey Dahil     Low   90.935944
2        İzmir  Yarım Pansiyon    High   87.657303
3        Diğer    Herşey Dahil     Low   87.310882
4        Diğer    Herşey Dahil    High   83.787273
5        İzmir    Herşey Dahil    High   74.748363
6        İzmir    Herşey Dahil     Low   74.308287
7      Antalya  Yarım Pansiyon    High   73.259029
8      Antalya  Oda + Kahvaltı    High   66.267969
9      Antalya    Herşey Dahil    High   64.920065

In [ ]:
# Yeni seviye tabanlı müşterileri(persona) tanımlayınız.
# Yeni seviye tabanlı satışları tanımlayınız ve veri setine değişken olarak ekleyiniz.
# Yeni eklenecek değişkenin adı: sales_level_based
# Önceki soruda elde edeceğiniz çıktıdaki gözlemleri bir araya getirerek sales_level_based değişkenini oluşturmanız beklenmekte.

In [27]:
agg_df["sales_level_based"] = agg_df[["SaleCityName", "ConceptName", "Seasons"]].agg\
    (lambda x: '_'.join(x).upper(), axis=1)

agg_df.head()

  SaleCityName     ConceptName Seasons       Price          sales_level_based
0        Girne    Herşey Dahil    High  103.935448    GIRNE_HERŞEY DAHIL_HIGH
1        Girne    Herşey Dahil     Low   90.935944     GIRNE_HERŞEY DAHIL_LOW
2        İzmir  Yarım Pansiyon    High   87.657303  İZMIR_YARIM PANSIYON_HIGH
3        Diğer    Herşey Dahil     Low   87.310882     DIĞER_HERŞEY DAHIL_LOW
4        Diğer    Herşey Dahil    High   83.787273    DIĞER_HERŞEY DAHIL_HIGH

In [ ]:
# Yeni müşterileri(personaları) segmentlere ayırınız.
# Yeni personaları PRICE’a göre 4 segmente ayırınız.
# Segmentleri SEGMENT isimlendirmesi ile değişken olarak agg_df’e ekleyiniz.
# Segmentleri betimleyiniz (Segmentlere göre group by yapıp price mean, max, sum’larını alınız).

In [30]:
agg_df["SEGMENT"] = pd.qcut(agg_df["Price"], 4, labels=["D", "C", "B", "A"])
agg_df.head()
agg_df.groupby("SEGMENT").agg({"Price": ["mean", "max", "sum"]})

             Price
              mean         max         sum
SEGMENT
D        33.366288   39.479630  300.296592
C        44.887654   54.141797  403.988887
B        60.274498   64.920065  542.470478
A        82.467833  103.935448  742.210498

In [ ]:
# Yeni gelen müşterileri sınıflandırıp, ne kadar gelir getirebileceklerini tahmin ediniz.
# Antalya’da herşey dahil ve yüksek sezonda tatil yapmak isteyen bir kişinin ortalama ne kadar gelir kazandırması beklenir?
# Girne’de yarım pansiyon bir otele düşük sezonda giden bir tatilci hangi segmentte yer alacaktır

In [31]:
agg_df.sort_values(by="Price")

new_user = "ANTALYA_HERŞEY DAHIL_HIGH"
agg_df[agg_df["sales_level_based"] == new_user]

  SaleCityName   ConceptName Seasons      Price          sales_level_based SEGMENT
9      Antalya  Herşey Dahil    High  64.920065  ANTALYA_HERŞEY DAHIL_HIGH       B

In [32]:
grn_user ="GIRNE_YARIM PANSIYON_LOW"
agg_df[agg_df["sales_level_based"] == grn_user]

   SaleCityName     ConceptName Seasons      Price         sales_level_based SEGMENT
19        Girne  Yarım Pansiyon     Low  48.578903  GIRNE_YARIM PANSIYON_LOW       C